@charset "utf-8";



aside {
    margin-left: 84%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #e4cfd6,#bfafa9);
    width:300px;
    height:500px; 
    bottom: 0;
   }
  

#h1 { text-align-right :0px;
   
}
