@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');




:root{
   
    --vermelho: #ff0000;
    --laranja:  #ffa500;
    --amarelo:  #ffff00;
    --verde:    #008000;
    --azul:     #0000ff;
    --indigo:   #4b0082;
    --violeta:  #ee82ee;
 
 }
 


footer  {
    background-color: #3a3c41; 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, auto)); 
    gap: 3.5rem;
    background:  1a242f;
    position: absolute;
    left: 0;
    right: 0; 
    bottom: 0;
    padding: 100px;
    }
    
    
    
    #endereco  {
    list-style: none;    
    list-style: none;    
    margin-top: 75px; 
    position: absolute; left: 45%;
    font-weight: bold;
    font-family: auto,sans-serif,arial;
    color: white; 
    }
    
    
    
    
    
    #contato  {
    list-style: none;    
    position: absolute; right: 13%;
    margin-top: 54px;
    font-weight: bold;
    font-family: auto,sans-serif,arial;
    color: white;
    }
    
    
    
    
    #entre-em-contato {
         list-style: none;
         height: 10px;
         position: absolute; right: 15%;
         margin-top: 90px;
         font-size: 25px;
         color: #dfe1e5;
    }
    
    
   #button {
        position: absolute; right: 23%;
        bottom: -80px;
        padding: 0px;
        width: 100px;
        height: 22px;
        color:rgb(222 231 235)
        border-radius: 22px;
        background-color:white
        
    }
    
    
    
    #local {
        position: absolute; right: 55%; 
        margin-top: 59px;
        
    }
    
    #whatsapp  {
         position: absolute; right: 2%;
         margin-top: 5px;
         list-style: none
    }
    
    #QRcod  {
          position: absolute; 
          right: 17px; /* posiciona a 90px para a esquerda */ 
          top: 80px; /* posiciona a 70px para baixo */
        }

#logo-rodape{
    position: absolute;left: 30px;
    margin-top: 55px;
}


